.home-page {
    margin-bottom: 180px;
}

.home-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.home-title {
    font-size: 42px;
    color: chocolate;
}

.home-info {
    padding: 20px;
}

.home-info p {
    font-size: 18px;
}

.home-img {
    padding: 20px;
}

.customer-review {
    margin-top: 40px;
}

.review-btn {
    background-color: darkmagenta;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.review-btn:hover {
    background-color: salmon;
}